# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# Maven generated sources
target/generated-sources/

# Gradle generated sources
build/generated/
/src/main/generatedJava/
/src/main/generated/

*_pf.png
*_pfm.png